<%- include('partials/header') -%>

<div class="container">
  <center class="my-4">
    <h2>Messenger</h2>
  </center>
  <div data-message-list>
    <% messages.forEach(function(message){ %>

    <div class="shadow-sm p-3 my-3" data-message-container>
      <div class="mb-1">
        <span data-message-sender><%= message.sender %></span>&nbsp;
        <span class="small" data-message-time
          ><%= new Date(message.time).toLocaleString() %></span
        >
        <div class="float-right" data-message-actions>
          <a href="#" data-toggle="tooltip" title="Like">
            <i class="bi bi-hand-thumbs-up"></i>
          </a>
          <a href="#" data-toggle="tooltip" title="Reply">
            <i class="bi bi-reply"></i>
          </a>
          <a href="#" data-toggle="tooltip" title="Heart">
            <i class="bi bi-heart"></i>
          </a>
        </div>
      </div>

      <div data-message-content><%= message.content %></div>
    </div>

    <% }) %>
  </div>

  <div class="my-2">
    <form action="" method="">
      <div class="input-group mb-3">
        <input
          name="content"
          id="content"
          type="text"
          class="form-control"
          placeholder="Type here"
          aria-label="Type here"
        />
        <div class="input-group-append">
          <button class="btn btn-large btn-outline-dark" type="submit">Send</button>
        </div>
      </div>
    </form>
  </div>

  <hr>

  <div class="px-2 py-4 my-2" id="online-users">
    <div class="container">
      <strong>Online</strong>
      <ul data-user-list></ul>
    </div>
  </div>
</div>

<template id="message-card-template">
  <div class="shadow-sm p-3 my-3" data-message-container>
    <div class="mb-1">
      <span data-message-sender></span>&nbsp;
      <span class="small" data-message-time></span>
      <div class="float-right" data-message-actions>
        <a href="#" data-toggle="tooltip" title="Like">
          <i class="bi bi-hand-thumbs-up"></i>
        </a>
        <a href="#" data-toggle="tooltip" title="Reply">
          <i class="bi bi-reply"></i>
        </a>
        <a href="#" data-toggle="tooltip" title="Heart">
          <i class="bi bi-heart"></i>
        </a>
      </div>
    </div>

    <div data-message-content></div>
  </div>
</template>

<script type="text/javascript">
  const user_id = "<%= user._id %>";
  const username = "<%= user.username %>";
</script>

<!-- <script type="text/javascript" src="/js/inbox.js"></script> -->

<%- include('partials/footer') -%>
