<%- include('partials/header') -%>
<div class="root container-fluid">
  <%- include('partials/navigation') -%>
  <div class="message-container container-fluid">
    <ul class="messages-list list-group list-group-flush" data-messages>
      <li class="messages list-group-item">Welcome to chat app!</li>
      <% messages.forEach(function(message){ %>
      <li class="messages list-group-item">
        <strong><%= message.sender %> </strong>
        <%= message.content %><span
          ><%= new Date(message.time).toLocaleString() %></span
        >
      </li>
      <% }); %>
    </ul>
  </div>
  <div class="input-field container-fluid">
    <form action="">
      <div class="input-group mb-3">
        <input
          name="content"
          id="content"
          type="text"
          class="form-control"
          placeholder="Type here"
          aria-label="Type here"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- <script src="/socket.io/socket.io.js"></script> -->
<script type="text/javascript">
  let socket = io.connect();

  socket.emit("register", {
    socket_id: socket.id,
    user_id: "<%= user._id %>",
    username: "<%= user.username %>",
  });

  const formElement = document.querySelector("form");
  const messageInput = document.querySelector("#content");
  const messageListElement = document.querySelector("[data-messages]");
  const container = document.querySelector(".message-container");

  container.scrollTop = container.scrollHeight; // scroll div

  formElement.addEventListener("submit", function (e) {
    e.preventDefault();

    if (messageInput.value) {
      console.log("Sending message to server: " + messageInput.value);

      socket.emit("message", {
        sender_id: "<%= user._id %>",
        socket_id: socket.id,
        content: messageInput.value,
        sender: "<%= user.username %>",
        time: new Date(),
      });
    }
  });

  socket.on("message", function (data) {
    // console.log("Received message from Server: ", data);

    if (data.time) {
      data.time = new Date(data.time).toLocaleString();
    }

    html = "";
    html += "<li class='messages list-group-item'>";
    html += "<strong>" + data.sender + "</strong> ";
    html += data.content;
    html += "<span>" + data.time + "</span>";
    html += "</li>";
    // console.log(html);
    messageListElement.innerHTML += html;

    container.scrollTop = container.scrollHeight; // scroll div
    messageInput.value = ""; // clear message now
  });
</script>
<%- include('partials/footer') -%>
